@model TrashCollector_Proj.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Monthly Billing</h1>
 
<div>
    <h4></h4>
    <hr />
    <dl class="table-bordered">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOwedBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOwedBalance)
        </dd>
       
    </dl>
</div>
<div>
    @Html.ActionLink("Change Weekly Pickup Day", "Edit") |
    <a asp-action="Index">Back to List</a>
</div>
